@model IEnumerable<ISSTTP.Data.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
        <div class="row">
            <div class="col-3">
                <div id="countByCategoriesChart"></div>
            </div>
        </div>

        @section Scripts
        {
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawCharts);

                function drawCharts() {
                    fetch('/api/charts/countByCategory')
                        .then(response => response.json())
                        .then(data => {
                            const dataTable = new google.visualization.DataTable();
                            dataTable.addColumn('string', 'Категорія');
                            dataTable.addColumn('number', 'Кількість деталей');

                            data.forEach(item => {
                                dataTable.addRow([item.category, item.count]);
                            });

                            const options = {
                                title: 'Адміністратора насварять, якщо тут щось буде',
                                width: 600,
                                height: 400,
                                legend: { position: 'none' },
                            };

                            const chart = new google.visualization.ColumnChart(document.getElementById('countByCategoryChart'));

                            chart.draw(dataTable, options);
                        });
                }
            </script>
        }
    </tbody>
</table>
